@font-face {
  font-family: 'Shorif Jonota Unicode';
  font-style: normal;
  font-weight: 100;
  src: url('"C:\Users\Shourjo\AppData\Local\Microsoft\Windows\Fonts\ShorifJonotaUnicode.ttf"') format('ttf')
}
nav {
  background-color: #14103b;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
nav li {
  margin: 0;
  padding: 0;
}
nav a {
  color: #fff;
  display: block;
  padding: 10px;
  text-decoration: none;
}
nav a:hover {
  color: #7b88e7;
  text-decoration: none;
}

body {
    font-family: Arial, sans-serif,'Shorif Jonota Unicode';
    background-color: #fff;
    color: #333;
    transition: background-color 0.5s ease, color 0.5s ease;
  }
  body.dark-mode {
    background-color: #333;
    color: #fff;
  }
  h1 {
    text-align: center;
  }
  .book {
    display: inline-block;
    height: 450px;
    width: 200px;
    margin: 10px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 5px;
    background-color: #fff;
    color: #333;
    transition: background-color 0.5s ease, color 0.5s ease;
  }
  .book.dark-mode {
    background-color: #333;
    color: #ffffff;
  }
  .book:hover{
    box-shadow: 0 0px 10px 0 rgba(0,0,0,0.3);
    transform: translateY(-9px);
    cursor: pointer;
    color: #7b88e7;
    transition: 0.5s;
  }
  .book.dark-mode:hover{
    box-shadow: 0 0px 10px 0 rgba(0,0,0,0.3);
    transform: translateY(-9px);
    cursor: pointer;
    color: #7b88e7;
    transition: 0.5s;
  }
  .book img {
    max-width: 100%;
    height: auto;
  }
  .book h2 {
    font-size: 1.2em;
    margin: 10px 0;
  }
  .book p {
    font-size: 1em;
    margin: 5px 0;
  }
  .switch {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: #333;
    border: none;
    border-radius: 40px;
    padding: 5px 5px;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease;
  }

  .books-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1500px;
    margin: 0 auto;
  }
  